/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 15 thg 5, 2023, 16:55:44
    Author     : phangiabao
*/

.font-chu-nho{
    font-size: 15px;
}
.khunganh {
    width: 200px;
    height: 170px;
    border: 1px solid #cccbcb;
    text-align: center;
    margin: auto;
    overflow: hidden;
    padding: 2px;
}
